{% extends 'ShopBundle:Default:index.html.twig' %}
{% block body %}
    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            test
        </div>
    </div>
{% endblock %}
