{%extends "LoginLoginBundle:Default:index.html.twig"%}
{%block stylesheets %}

{%endblock%}
   {%block container %}
       <div class="container">
           <h2>Hello     <a href="{{ path('login_login_default_show') }}">{{user.name}}</a>  </h2>
           {#{% include "LoginLoginBundle:Default:table.html.twig"%}#}
       </div>
       <div>
           {#<button class="btn btn-primary" type="submit" >My Profile</button>#}
       </div>


       <a href="{{ path('login_login_default_logout') }}">Logout</a>
   {%endblock%}