{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | MyWishlist{% endblock %}</title></head>
{% endblock %}
{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-responsive table-hover">
                        <thead>
                        <tr class="bg-success">
                        <th>Image</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Cost</th>
                    </tr>
                        </thead>
                        <tbody>
                        {% for wl in wishlist %}
                            <tr>
                                <td>
                                    {% if wl.product.images|length != 0 %}
                                        <img src="{{ wl.product.images[0].path }}" alt="">
                                    {% else %}
                                        <img src="/img/no-image.png" alt="">
                                    {% endif %}
                                </td>
                                <td>{{ wl.product.title }}</td>
                                <td>{{ wl.product.description|raw }}</td>
                                <td>{{ wl.product.cost }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

{% endblock %}