{% extends 'ShopBundle:Default:index.html.twig' %}

{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <table border="1" cellspacing="0"
                           cellpadding="8" style="background-color:aliceblue; color:black">
                    <tr>
                        <th>Image</th>
                        <th>Product</th>
                        <th>Description</th>
                        <th>Cost</th>
                    </tr>
                        {% for prod in user.products %}
                            <tr>
                                <td>{{ prod.image }}</td>
                                <td>{{ prod.title }}</td>
                                <td>{{ prod.description }}</td>
                                <td>{{ prod.cost }}</td>
                            </tr>
                        {% endfor %}
                    </table>

                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>

{% endblock %}