{% extends 'ShopBundle:Default:index.html.twig' %}

{% block maincontent %}

    <div class="row">
        <div class="col-md-12">
            <p>Test and stuff.</p>
        </div>
    </div>

{% endblock %}
