{% extends 'ShopBundle:Default:index.html.twig' %}

{% block body %}

    <div class="row">
        <div  class="text-center">
            <p>Test and stuff.</p>
        </div>
    </div>
    {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

    {{ form_start(form) }}
    <p>Feedback</p>
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}
