{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | About{% endblock %}</title></head>
{% endblock %}
{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                </div>
                <div class="col-md-8">
                    {% if page %}
                        {{ page.content | raw }}
                    {% endif %}
                </div>
                <div class="image">
                    <img src="https://gif.cmtt.space/5/tj_articles/samsung-evolution/samsung-evolution-53e4f30cd6e74.png" width="390" height="355">
                </div>
            </div>
        </div>
    </div>
{% endblock %}