{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}{% endblock %}</title></head>
{% endblock %}
{% block body %}

    <div class="single-product-area">
        <div class="zigzag-bottom"></div>
        <div class="container">
            <div class="row">
                {{ breadcrumbs() }}
                <div class="col-md-8">
                </div>
                <div class="col-md-8">
                    {% if page %}
                        {{ page.content | raw }}
                    {% endif %}
                </div>
                <div class="image">
                    <img src="https://zelmir.com/uploads/company/fermerskoe-hozajstvo-zelenyj-gorizont-001.jpg" width="390" height="355">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
