{% extends 'ShopBundle:Default:index.html.twig' %}
{% block head %}
    <head><title>{% block title %}ElectroZone | ContactUs{% endblock %}</title></head>
{% endblock %}
{% block body %}
<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

                {{ form_start(form) }}
                <p>Feedback</p>
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
            <div class="col-xs-12 col-md-6">
                {% if page %}
                    {{ page.content | raw }}
                {% endif %}
                <div class="col-xs-12 col-md-12">
                    <iframe class="col-xs-12 col-md-12" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992.8670017379352!2d23.
                802688302510184!3d53.71026320562025!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e078c8ff550097%3A0x2dcd8826dec111b2!
                2z0YPQuy4g0JHQvtCz0YPRhtC60L7Qs9C-IDUsINCT0YDQvtC00L3QviAyMzAwMDI!5e0!3m2!1sru!2sby!4v1503341420067"
                            width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
            </div>

    </div>
</div>
{% endblock %}
